<h1><%= @pagename %></h1>
<div class="works_container">
  <a rel="group" class="fancybox" href="/assets/sketches/sketch01-8ac04a2b0cde2412390c40f0c4470412.jpg"><img src="/assets/thumbnails/thumb-sketch01.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch02-9a4728259405cc4f05f698a9889ac65a.jpg"><img src="/assets/thumbnails/thumb-sketch02.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch03-b5fd17b1fccb648617a43feac06ae350.jpg"><img src="/assets/thumbnails/thumb-sketch03.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch04-bc06ab373fe4f49af3a3ee329446a776.jpg"><img src="/assets/thumbnails/thumb-sketch04.jpg" alt="rone one sketch"/></a>
</div>
