<div class="sidebar_item">
	<h3>Контакты</h3>
	<p><a href="http://vk.com/id107552507" target="_blank">Вадим Богдан (vk.com)</a></p>
	<p>+375 (29) XXX-XX-XX </p>
</div>
<div class="sidebar_item">
	<h3>Партнёры</h3>
	<ul class="partner">
		<li><a href="http://artzona.by/" target="_blank">artzona.by</a></li>
		<li><a href="http://archm.org/" target="_blank">archm.org</a></li>
	</ul>
</div>
<div class="sidebar_item">
	<h3>Свежие новости</h3>
	<p><a href="#">Привет, мир!</a></p>
</div>

