<h2><%= @pagename %></h2>
<p>На этом сайте Вы можете заказать граффити, художественную роспись стен любой сложности. Работы выполняются как в экстерьере, так и в интерьере. Используется высококачественная краска, стойкая разнообразная палитра.</p>

<p>Find me in app/views/pages/index.html.erb</p>
