<h1><%= @pagename %></h1>
<article>
	<%= image_tag 'bv.jpg', height: 500, alt: 'Rone One' %>
	<p>Студент 5 курса кафедры живописи Белоруской Государственной Академии искусств.</p>
	<p>Родился в 1990 году в г. Барань. На данный момент учится и проживает в г. Минске. в 1999 году поступил в художественную школу №3 города Орша, которую успешно окончил в 2005 году.</p>
	<p>В 2007 году поступил в ГУО гимназию-колледж искусств имени И.О. Ахремчика и окончил его в 2010 году. В этом же году поступил в Белорусскую государственную академию искусств г.&nbsp;Минск на кафедру живописи.</p>
	<p>Принимал участие в выставках:
		<ul>
			<li><strong>2014</strong> год. Участник Art-session в Витебске (номинация стрит-арт);</li>
			<li><strong>2012</strong> год. Участник Республиканской выставки по живописи;</li>
			<li><strong>2012</strong> год. Принимал участие в выставке Белоруской Государственной Академии искусств (БГАИ) «Пламенные сердца» посвященная памяти кубинского поэта-революционера Хосе Марти.</li>
		</ul>
	</p>
</article>

